{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} BitsFolio - {{title}} {% endblock title %}

{% block content %}
<main id="main" style="padding-top: 15px;">

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container px-4 py-4" data-aos="fade-up">
      
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>
      
      {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success d-flex align-items-center alert-dismissible" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#check-circle-fill"/></svg>
        <strong>Done! </strong>&nbsp; {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger d-flex align-items-center alert-dismissible" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <strong>Ooops! </strong>&nbsp; {{message}} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% endfor %}

      <div class="section-title">
        <h2>Change Your Password</h2>
      </div>

      <form action="" method="POST" role="form" class="php-email-form">
        {% csrf_token %}
        <div class="row justify-content-center section-bg">
            <div class="form-group col-md-6 mb-2">
                <label for="id_old_password">Current Pasword</label>
                {% render_field form.old_password id="id_old_password" class="form-control" placeholder="Type current password.."  %}
                <div class="validate"></div>
            </div>
        </div>
        <div class="row justify-content-center section-bg">
            <div class="form-group col-md-6 mb-2">
                <label for="id_new_password1">New password</label>
                {% render_field form.new_password1 id="id_new_password1" class="form-control" placeholder="Type new password.."  %}
                <div class="validate"></div>
            </div>
        </div>
        <div class="row justify-content-center section-bg">
            <div class="form-group col-md-6 mb-2">
                <label for="id_new_password2">New password confirmation</label>
                {% render_field form.new_password2 id="id_new_password2" class="form-control" placeholder="confirm your password.."  %}
                <div class="validate"></div>
            </div>
        </div>
        
        <div class="text-center section-bg"><button type="submit">Save</button></div>
      </form>

    </div>
  </section>
  <!-- End Contact Section -->

</main><!-- End #main -->
{% endblock content %}
  